  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{id}}" class="title"><h2>{{title}}</h2></a>
      </div>
      <div>
        {{post_content}}
        <div class="">
            by {{user.username}} | {{created_at}} |
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
      </div>
    </article>
  </li>
  {{/each}}